
.row-poster {
    object-fit: contain;
    /* width: 100%; */
    max-height: 100px;
    transition: transform 500ms;
    margin-right: 20px;    
}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 50px;
    white-space: nowrap;
}


.row-poster:hover {
    transform: scale(1.2);
}

.row-posters::-webkit-scrollbar{
    display: none;

}

.row-posterLarge{
    max-height: 250px;
}

.row-posterLarge:hover{
    transform: scale(1.08);
    opacity: 1;
}

.row{
    margin: 20px;
}

.title{
    color: white;
}

.rendered-image{
    height: 200px;
    width : 100%;
}